In [1]:
pip install dask[complete]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dask[complete] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.3.5)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.21.6)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2022.5.0)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (0.11.2)
Requirement already satisfied: distributed>=2.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.30.1)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.2.0)
Requirement already satisfied: bokeh>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.3.3)
Requirement already satisfied: cloudpickle>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.1.0)
Requirement already satisfied: PyYaml in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (3.13)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (2.8.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (5.1.1)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (2.11.3)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (4.1.1)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (7.1.2)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (1.0.4)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (2.2.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (7.1.2)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (1.7.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (5.4.8)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (2.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (57.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh>=1.0.0->dask[complete]) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh>=1.0.0->dask[complete]) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[complete]) (2022.1)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[complete]) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh>=1.0.0->dask[complete]) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.0->dask[complete]) (1.0.1)

In [2]:
import pandas as pd
import numpy as np
import dask
import dask.dataframe as dd

In [3]:
cd drive/MyDrive/AMEX

/content/drive/MyDrive/AMEX

In [4]:
data = pd.read_csv('combined_sample.csv')

In [5]:
data.describe()

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
count,274223.000000,2.765650e+05,276565.000000,2.764680e+05,2.765650e+05,225826.000000,2.764680e+05,2.764680e+05,39457.000000,1.938960e+05,...,9.844000e+03,9844.000000,2.715280e+05,2.745530e+05,2.715280e+05,47505.000000,2.715280e+05,2.745470e+05,2.715280e+05,276565.000000
mean,0.656150,1.530110e-01,0.124360,6.208769e-01,7.887896e-02,0.226089,5.973276e-02,1.323031e-01,0.184547,1.547866e-01,...,1.427632e-02,0.158983,1.799527e-01,2.681450e-02,1.654826e-01,0.390701,1.798443e-01,5.267286e-02,6.226399e-02,0.248661
std,0.244899,2.702983e-01,0.212599,4.017530e-01,2.262091e-01,0.193276,2.016825e-01,2.347678e-01,0.221426,2.150028e-01,...,9.578055e-02,0.263622,3.799452e-01,1.461072e-01,3.491233e-01,0.235230,3.798494e-01,1.830950e-01,1.925425e-01,0.432238
min,-0.391206,7.357894e-08,-0.799453,4.219620e-07,1.065542e-08,-0.453802,1.580859e-07,8.087374e-08,-0.000285,1.160652e-07,...,4.274578e-07,0.000001,2.454762e-08,5.186710e-09,1.073346e-08,-0.011063,2.058036e-08,2.500991e-09,2.150724e-08,0.000000
25%,0.479913,4.527890e-03,0.008881,1.049494e-01,2.913883e-03,0.127346,2.876207e-03,5.243700e-03,0.036852,4.210330e-02,...,2.576416e-03,0.003405,3.017390e-03,2.554295e-03,3.034174e-03,0.198175,3.027048e-03,2.739838e-03,3.024538e-03,0.000000
50%,0.694399,9.047627e-03,0.031467,8.143257e-01,5.803458e-03,0.163970,5.739748e-03,9.801330e-03,0.121019,8.835785e-02,...,5.069772e-03,0.006982,6.048028e-03,5.108438e-03,6.063516e-03,0.382052,6.055480e-03,5.502429e-03,6.041656e-03,0.000000
75%,0.864717,2.368323e-01,0.125771,1.002385e+00,8.673956e-03,0.258652,8.605937e-03,1.540318e-01,0.251319,1.843833e-01,...,7.612230e-03,0.501291,9.090484e-03,7.660540e-03,9.099254e-03,0.558844,9.086517e-03,8.261977e-03,9.084368e-03,0.000000
max,1.010000,5.331360e+00,1.324059,1.010000e+00,2.527867e+00,5.018255,7.082583e+00,1.447139e+00,3.892957,9.146683e+00,...,1.009806e+00,3.001552,1.010000e+00,1.009996e+00,1.244132e+00,1.817202,1.010000e+00,1.343288e+00,4.730606e+00,1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276565 entries, 0 to 276564
Columns: 191 entries, customer_ID to target
dtypes: float64(185), int64(2), object(4)
memory usage: 403.0+ MB

In [18]:
data.columns

Index(['customer_ID', 'S_2', 'P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41',
       'B_3',
       ...
       'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144',
       'D_145', 'target'],
      dtype='object', length=191)

In [11]:
data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,00d02ad8d975c5119beed96427082960647bc9330dcd0d...,2017-07-11,0.733897,0.418841,0.034495,1.009152,0.006520,0.395961,0.001022,0.010428,...,NaN,NaN,0.004062,0.007383,0.007780,NaN,0.004547,0.007964,0.008626,0
1,00f8422df3e792b646ee75dd6c5469e263f4f50cd90570...,2017-07-04,0.682768,0.006512,0.126788,1.007695,0.501783,0.176268,0.009242,0.001740,...,NaN,NaN,0.002186,0.007349,0.009796,NaN,0.004737,0.007703,0.005441,0
2,0019dd523506d023120548b46061ed4a67ab6e1cd88c6a...,2017-12-23,0.981684,0.008027,0.005318,0.813393,0.005138,NaN,0.000269,0.006828,...,NaN,NaN,0.007567,0.002025,0.002635,NaN,0.004297,0.007744,0.001628,0
3,00600d435f44a5686b7e9e5f5837b1357565d96ee3ac96...,2017-09-22,0.808765,0.007848,0.038406,1.005143,0.001916,-0.028870,0.009519,0.006579,...,NaN,NaN,0.001609,0.003561,0.008609,NaN,0.008045,0.007589,0.008042,0
4,00a309591529739b93fd0601ff4c275ae4a919f560bf3f...,2017-05-18,0.782119,0.001374,0.015341,1.007530,0.007454,0.146037,0.001659,0.001932,...,NaN,NaN,0.006309,0.008097,0.003835,NaN,0.004677,0.008510,0.004331,0

In [16]:
data.shape

(276565, 191)

In [15]:
data.isna().sum()

customer_ID         0
S_2                 0
P_2              2342
D_39                0
B_1                 0
                ...
D_142          229060
D_143            5037
D_144            2018
D_145            5037
target              0
Length: 191, dtype: int64

In [27]:
keys = []
for column in data.columns:
  if len(data[column].unique())== data.shape[0]:
    keys.append(column)

In [29]:
len(keys)

66

In [30]:
benchmark = data.drop(keys,axis=1)
benchmark

,customer_ID,S_2,P_2,B_2,S_3,D_41,B_3,D_42,D_43,D_44,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,00d02ad8d975c5119beed96427082960647bc9330dcd0d...,2017-07-11,0.733897,1.009152,0.395961,0.001022,0.010428,NaN,0.054286,0.005942,...,NaN,NaN,0.004062,0.007383,0.007780,NaN,0.004547,0.007964,0.008626,0
1,00f8422df3e792b646ee75dd6c5469e263f4f50cd90570...,2017-07-04,0.682768,1.007695,0.176268,0.009242,0.001740,0.233422,NaN,0.126292,...,NaN,NaN,0.002186,0.007349,0.009796,NaN,0.004737,0.007703,0.005441,0
2,0019dd523506d023120548b46061ed4a67ab6e1cd88c6a...,2017-12-23,0.981684,0.813393,NaN,0.000269,0.006828,NaN,NaN,0.005318,...,NaN,NaN,0.007567,0.002025,0.002635,NaN,0.004297,0.007744,0.001628,0
3,00600d435f44a5686b7e9e5f5837b1357565d96ee3ac96...,2017-09-22,0.808765,1.005143,-0.028870,0.009519,0.006579,NaN,NaN,0.004778,...,NaN,NaN,0.001609,0.003561,0.008609,NaN,0.008045,0.007589,0.008042,0
4,00a309591529739b93fd0601ff4c275ae4a919f560bf3f...,2017-05-18,0.782119,1.007530,0.146037,0.001659,0.001932,NaN,NaN,0.005340,...,NaN,NaN,0.006309,0.008097,0.003835,NaN,0.004677,0.008510,0.004331,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276560,ff6278d78d5f7439855ddc5ede0c163fb2d526e6bb99e0...,2017-12-11,0.834860,0.814757,NaN,0.002541,0.007030,NaN,NaN,0.008552,...,NaN,NaN,0.008890,0.005856,0.001742,NaN,0.009283,0.009916,0.004318,0
276561,ffd1c2bda3a13a03e89f2b049bf0466f432bbe60c8c2cc...,2017-04-05,0.562767,0.050490,0.169584,0.002944,0.110873,NaN,NaN,0.256697,...,NaN,NaN,0.002384,0.004904,0.006718,NaN,0.005066,0.009099,0.005382,0
276562,ff2d6217f54228c90da93afd373d329b99a3eb6de292f6...,2017-09-06,0.841637,1.005865,0.110913,0.000859,0.008155,0.004865,NaN,0.003457,...,NaN,NaN,0.002750,0.005920,0.001444,NaN,0.001119,0.003763,0.009431,0
276563,ff9dcae400b41f4497be49a5f28ae2368811b84cb301e2...,2017-06-05,0.677573,1.008350,0.163076,0.004866,0.009651,NaN,0.063728,0.007519,...,NaN,NaN,1.009251,0.004246,0.877599,0.403782,1.002405,0.202403,1.188127,0
276564,ff924bf949e87c84dda9e25483719ecf2ece33eb331318...,2018-02-20,0.628054,0.817657,NaN,0.001248,0.003452,NaN,0.174732,0.005292,...,NaN,NaN,0.007066,0.006656,0.000359,NaN,0.001809,0.005487,0.008821,0

In [42]:
len(benchmark.customer_ID[benchmark.D_87==1].unique())

179

In [35]:
temp =pd.DataFrame(benchmark.isna().sum())
temp.sort_values(0,ascending=False)

                  0
D_87         276356
D_88         276268
D_108        275109
D_110        275002
D_111        275002
...             ...
customer_ID       0
B_31              0
S_2               0
D_63              0
target            0

[125 rows x 1 columns]

In [ ]:
temp[D_]

In [44]:
pd.DataFrame(benchmark.dtypes)

                   0
customer_ID   object
S_2           object
P_2          float64
B_2          float64
S_3          float64
...              ...
D_142        float64
D_143        float64
D_144        float64
D_145        float64
target         int64

[125 rows x 1 columns]